@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4; /* Light gray background */
    color: #333; /* Dark gray text color */
    
}

a{
    text-decoration: none;
}
h1,h2,h3{
    font-weight: bold;
}

